/* スマートフォン用CSS */

header{
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 90%;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #313131;
  color: #FFFFFF;
  margin-bottom: 20px;
  letter-spacing: 10px;
  line-height: 100px

}

#page{
  width: 90%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
  background-color: #FFFFFF;
  margin-bottom: 20px
  
}

.line {
	display: flex;
	align-items: center;
}
.line:after{
	border-top: 1px solid;
	content: "";
	flex-grow: 1;
}
.contents {
	margin-left: 10px;
}

footer{
    display: block;
    margin-right: auto;
    margin-left: auto;
    font-size: 80%;
    width: 90%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #313131;
    color: #FFFFFF

}
