#title{
  display: block;
  width: 80%;
  margin-left: 20%;
  overflow: hidden;
  background-color: #313131;
  margin-bottom: 20px;
  letter-spacing: 10px;
  line-height: 100px;
}

#page{
  display: block;
  width: 80%;
  overflow: hidden;
  background-color: #323232;
  margin-bottom: 20px;
  letter-spacing: 2px;
  line-height: 100px;
}
